
Examples/iAdPlusAdMob/iAdPlusAdMob.xcodeproj/project.xcworkspace/xcuserdata/
Examples/iAdPlusAdMob/iAdPlusAdMob.xcodeproj/xcuserdata/pj.xcuserdatad/xcschemes/iAdPlusAdMob.xcscheme

Examples/iAdPlusAdMob/iAdPlusAdMob.xcodeproj/xcuserdata/pj.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

Examples/iAdPlusAdMob/iAdPlusAdMob.xcodeproj/xcuserdata/pj.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Examples/iAdPlusAdMob/iAdPlusAdMob.xcodeproj/project.xcworkspace/contents.xcworkspacedata
